.header {
  background: lightblue;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.layout_link{
  text-decoration: none;
  padding: 5px 20px;
}
.main {
  min-height: calc(100vh - 74px);
  padding: 10px 50px;
}
footer {
  background: lightblue;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
